*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
img, h6 {
    background: none;
}
.logo img {
    width: 100px;
    height: 40px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px 15px;
}
#search {
    border-radius: 30px;
    width: 40vw;
    height: 5vh;
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mic {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 30px;
}
.mic img {
    width: 18px;
    height: 18px;
    background: none;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.profile h4 {
    width: 32px;
    height: 32px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.Main {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100vh;
}
.Home {
    flex: 1; /* Take up the remaining space */
    overflow-y: auto; /* Make the main content scrollable */
    margin-top: 5px;
}
.Home::-webkit-scrollbar {
    display: none;
}

.sidebar {
    overflow-y: auto;
    margin-bottom: 10vh;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.side {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin: 5px 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
    width: 130px;
    height: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
    background: none;
}
.side img {
    width: 20px;
    height: 20px;
    border-radius: 27px;
}
.line {
    width: 100%;
    height: 1px;
    background-color: rgb(63, 63, 63);
}
.col1, .you, .subs {
    margin-bottom: 10px;
}
.side a {
    text-decoration: none;
    font-size: 11px;
    background: none;
}
.more {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 10px 10px;
    font-size: 13px;
    transition: 0.2s;
    cursor: pointer;
}
.more:hover {
    background-color: #282828;
}
.side:hover {
    background-color: #282828;
}
.Home {
    margin-inline: 9vw;
}
.name {
    display: flex;
    align-items: center;
    gap: 8px;
}
.name img {
    width: 30px; 
    height: 30px;
    border-radius: 100%;
}
.thumbnail img {
    width: 15vw;
    height: 18vh;
    border-radius: 10px;
    cursor: pointer;
}
.thumbnail {
    position: relative;
}
.channel {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.capt {
    position: absolute;
    right: 10px;
    bottom: 12px;
    font-size: 12px;
    color: white;
    box-sizing: border-box;
    padding: 2px 2px;
    background-color: rgb(52, 52, 52);
    border-radius: 4px;
}
.judul img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.text h5 {
    font-size: 12px;
}
.info {
    font-size: 12px;
    margin-top: 5px;
    line-height: 17px;
    
}
.info p {
    color: #a1a1a1;
}